* {
  font-family: "Open Sans", sans-serif;
}

body{
  min-width:800px;
  min-height:920px;
}

p{
  font-size: larger;
}

h3 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.App{
  margin-bottom: 150px;
}

.smalltext {
  font-size: x-small;
  margin:5px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexcol{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER & IMPRINT */
.popoutScreen {
  margin:0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color:rgba(71, 61, 139, 0.76);
  width:100vw;
  height:100vh;
  z-index: 100;
  top:0;
  left:0;
}

/* SIDEBAR STYLES*/
.sidebar {
  /*sidebar properties*/
  height: 100%;
  width: 300px;
  position:fixed;
  top:0;
  left:0;
  background-color: #E0F7FA;
  overflow-x: hidden;
  margin: 0px;
  padding-top: 0px;

  /*flexbox stuff*/
  display: flex;
  flex-direction: column;
}

/* Points */
.pointbubble {
  display: flex;
  justify-content: space-around;
  margin: 25px;
  height: 25vh;
}

.bubbleimg{
  width:22vh;
  margin-top:2vh;
}

.bubbleanimation{
  animation-name: zoom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes zoom {
  40% {width: 25vh; margin-top:0}
  80% {width: 22vh; margin-top:2vh;}
}

.points{
  margin-top: 5.5vh;
  justify-content: center;
  text-align: center;
}

.point-number{
  color: darkslateblue;
  font-size: 8vh;
  margin: 2px;
  margin-top:0vh;
}

.pointanimation{
  animation-name: pointZoom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes pointZoom{
  50% {font-size: 11vh; margin-top: -2.6vh; color: darkslategray}
}

.point-text{
  color: darkslateblue;
  margin-top: -3vh;
  font-size: 4vh;
}

.pointtextanimation{
  animation-name: textZoom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes textZoom{
  50% {font-size: 5.5vh; margin-top: -4vh;}
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/* Progress bar */
.progress{
  margin: auto;
  margin-bottom:15px;
  max-width:1200px;
}

.progress-bar{
  background-color: white;
  border-radius: 10px;
  height:20 px;
  margin: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

.progress-text{
  text-align: center;
  margin: 10px;
}

.progress-done{
  background-color: #FFC107;
  box-shadow: 0 2px 5px #5540008c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:50%;
}

/* Point history */
.history {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px;
}

.history-element{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  color: darkslateblue;
  margin: 3px;
}

/* IMAGE GRID */
.image-rating{
  margin-left: 300px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-container{
  margin-top:10px;
  height:50vh;
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.traffic-image{
  z-index: 0;
  position:absolute;
  height: 100%;
}

.image-overlay{
  width: 37.51vh;
  position: absolute;
  z-index: 50;
  justify-content: space-evenly;
  display:flex;
  flex-direction: column;
}

.grid-row{
  display:flex;
  flex-flow: wrap;
  flex-direction:row;
  justify-content: space-evenly;
}

.cell{
  height:12.5vh;
  width:12.5vh;
  cursor: pointer;
}

.cellAnim{
  animation-name: cellKeyframes;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes cellKeyframes{
  10% {opacity: 0}
  100% {opacity: 0}
}

.pointCell{
  position:absolute;
  text-align:center;
  pointer-events: none;
  margin:3vh;
  color:white;
  font-weight: bolder;
  font-size: 5vh;
  opacity: 0;
}

.cellNumAnim{
  animation-name: cellNumKeyframes;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes cellNumKeyframes{
  10% {opacity: 1; font-size:7vh; margin:1.5vh;}
  100% {opacity: 1;}
}

/* TEXTBOXES */
.textbubble {
  background-color:#E0F7FA;
  border-radius: 20px;
  padding:0;
  margin:30px;
  max-width: 1200px;
}

.bubblecontent{
  margin: 40px;
  margin-top: 10px;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a0b6b9;
  color: white;
  text-align: center;
}


/* BUTTONS */
.btn{
  width:300px;
  height:90px;
  background-color:#FFC107;
  padding: 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: scaleX(1.1) scaleY(1.1);
}

.playbtn:hover {
  transform: scaleX(1.1) scaleY(1.1);
  cursor: pointer;
}

.btnlabel {
  font-size: xx-large;
  font-weight: bold;
  color: white;
  margin: auto;
}

.surveybox {
  max-width: 1080px;
  margin: auto;
  margin-top: 25px;
}


/* SurveyJS overwrite */
.sv_complete_btn {
  width:300px;
  height:90px;
  background-color: #FFC107 !important;
  border-radius: 20px !important;
  font-size: xx-large !important;
}

.sv_complete_btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scaleX(1.1) scaleY(1.1);
}

.sv_main.sv_default_css {
  background-color: white !important;
}